CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

bin/
build/
images/output.jpg

src/*.exe
src/*.exp
src/*.lib
src/*.avi
src/*.pdb